<form action="/figures" method="POST">
  <label for="">Name</label>
  <input id="name" type="text" name="figure[name]" />

  <br/>

  <h3>Titles</h3>
  <% @titles.each do |title| %>
    <div>
      <input type="checkbox" id="title-<%= title.id %>" name="figure[title_ids][]"
             value="<%= title.id %>" />
      <label for="title-<%= title.id %>"><%= title.name %></label>
    </div>
  <% end %>
  <br/>

  <h3>Create New Title</h3>
  <input id="title" type="text" name="title[name]" />

  <br/>

  <h3>Landmarks</h3>
  <% @titles.each do |title| %>
    <div>
      <input type="checkbox" id="title-<%= title.id %>" name="figure[title_ids][]"
             value="<%= title.id %>" />
      <label for="title-<%= title.id %>"><%= title.name %></label>
    </div>
  <% end %>
  <br/>

  <h3>Create New Title</h3>
  <input id="title" type="text" name="title[name]" />

  <input type="submit" value="submit" />
</form>
